@page "/notifications"
@using Syncfusion.Blazor
@using Syncfusion.Blazor.Grids
@using augalinga.Backend.ViewModels
@using augalinga.Data.Entities
@inject NotificationsViewModel NotificationsViewModel

<div class="header">
    <h1>Notifications</h1>
</div>

<SfGrid DataSource="@NotificationsViewModel.Notifications">
    <GridColumns>
        <GridColumn Field="@nameof(Notification.UserName)" HeaderText="By" Width="80"></GridColumn>
        <GridColumn Field="@nameof(Notification.ForUserName)" HeaderText="For" Width="80"></GridColumn>
        <GridColumn Field="@nameof(Notification.Message)" HeaderText="Notification" Width="250"></GridColumn>
        <GridColumn Field="@nameof(Notification.CreatedAt)" HeaderText="Modified At" Width="150"></GridColumn>
    </GridColumns>
</SfGrid>

@code {
}