@page "/projectPhotos/{projectId:int}"
@using Syncfusion.Blazor
@using Syncfusion.Blazor.Grids
@using augalinga.Backend.ViewModels
@using augalinga.Data.Access
@using augalinga.Data.Entities
@using augalinga.Backend.Models
@inject NavigationManager Navigation
@inject IJSRuntime JS
@using Syncfusion.Blazor.Navigations
@using augalinga.Data.Enums
@using augalinga.Backend.Services
@inject INotificationService NotificationService

<div class="header">
    <div style="flex: 1">
        <button @onclick="GoBack" class="back-button"><i class="bi bi-arrow-left h2"></i></button>
    </div>
    <h1>@project.Name Photos</h1>
    <div style="flex: 1; display: flex; justify-content: flex-end;">
        <button class="add-button" @onclick="OpenUploadModal"><i class="bi bi-plus-lg h2"></i></button>
    </div>
</div>

<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link @(isBeforeTabActive ? "active" : "")" id="nav-before-tab" data-bs-toggle="tab" data-bs-target="#nav-before" type="button" role="tab" aria-controls="nav-before" aria-selected="@(isBeforeTabActive)" @onclick="ActivateBeforeTab">Before</button>
        <button class="nav-link @(isAfterTabActive ? "active" : "")" id="nav-after-tab" data-bs-toggle="tab" data-bs-target="#nav-after" type="button" role="tab" aria-controls="nav-after" aria-selected="@(isAfterTabActive)" @onclick="ActivateAfterTab">After</button>
        <button class="nav-link @(isGeneralTabActive ? "active" : "")" id="nav-general-tab" data-bs-toggle="tab" data-bs-target="#nav-general" type="button" role="tab" aria-controls="nav-general" aria-selected="@(isGeneralTabActive)" @onclick="ActivateGeneralTab">General</button>
    </div>
</nav>
<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade @(isBeforeTabActive ? "show active" : "")" id="nav-before" role="tabpanel" aria-labelledby="nav-before-tab">
        @if (beforePhotos != null)
        {
            foreach (var url in beforePhotos)
            {
                <div style="display: inline-block; position: relative; margin: 5px;">
                    <img src="@url" width="250" height="150" style="margin: 5px;" @onclick="() => OnPhotoClicked(url)" />
                    <a href="@url" download="@url.Split('/').Last()" style="text-decoration: none; position: absolute; bottom: 5px; right: 5px;">
                        <i class="bi bi-download" style="font-size: 24px; color: white; background-color: rgba(0, 0, 0, 0.6); border-radius: 50%; padding: 5px;"></i>
                    </a>
                    <button @onclick="() => DeletePhoto(url)" style="position: absolute; bottom: 5px; right: 40px; background: transparent; border: none; cursor: pointer;">
                        <i class="bi bi-trash" style="font-size: 24px; color: white; background-color: rgba(0, 0, 0, 0.6); border-radius: 50%; padding: 5px;"></i>
                    </button>
                </div>
            }
        }
    </div>
    <div class="tab-pane fade @(isAfterTabActive ? "show active" : "")" id="nav-after" role="tabpanel" aria-labelledby="nav-after-tab">
        @if (afterPhotos != null)
        {
            foreach (var url in afterPhotos)
            {
                <div style="display: inline-block; position: relative; margin: 5px;">
                    <img src="@url" width="300" height="200" style="margin: 5px;" @onclick="() => OnPhotoClicked(url)" />
                    <a href="@url" download="@url.Split('/').Last()" style="text-decoration: none; position: absolute; bottom: 5px; right: 5px;">
                        <i class="bi bi-download" style="font-size: 24px; color: white; background-color: rgba(0, 0, 0, 0.6); border-radius: 50%; padding: 5px;"></i>
                    </a>
                    <button @onclick="() => DeletePhoto(url)" style="position: absolute; bottom: 5px; right: 40px; background: transparent; border: none; cursor: pointer;">
                        <i class="bi bi-trash" style="font-size: 24px; color: white; background-color: rgba(0, 0, 0, 0.6); border-radius: 50%; padding: 5px;"></i>
                    </button>
                </div>
            }
        }
    </div>
    <div class="tab-pane fade @(isGeneralTabActive ? "show active" : "")" id="nav-general" role="tabpanel" aria-labelledby="nav-general-tab">
        @if (generalPhotos != null)
        {
            foreach (var url in generalPhotos)
            {
                <div style="display: inline-block; position: relative; margin: 5px;">
                    <img src="@url" width="300" height="200" style="margin: 5px;" @onclick="() => OnPhotoClicked(url)" />
                    <a href="@url" download="@url.Split('/').Last()" style="text-decoration: none; position: absolute; bottom: 5px; right: 5px;">
                        <i class="bi bi-download" style="font-size: 24px; color: white; background-color: rgba(0, 0, 0, 0.6); border-radius: 50%; padding: 5px;"></i>
                    </a>
                    <button @onclick="() => DeletePhoto(url)" style="position: absolute; bottom: 5px; right: 40px; background: transparent; border: none; cursor: pointer;">
                        <i class="bi bi-trash" style="font-size: 24px; color: white; background-color: rgba(0, 0, 0, 0.6); border-radius: 50%; padding: 5px;"></i>
                    </button>
                </div>
            }
        }
    </div>
</div>

<div class="modal" style="display:@(isUploadModalVisible ? "block" : "none"); background-color: rgba(0, 0, 0, 0.5);">
    <div class="modal-dialog">
        <div class="modal-content" style="background-color: black;">
            <div class="modal-header">
                <h5 class="modal-title">Add photos</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" @onclick="HideUploadModal"></button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="category">Choose a category:</label>
                    <select name="categories" id="categories" @bind="category" @oninput="@HandleCategorySelect">
                        <option value="before">Before</option>
                        <option value="after">After</option>
                        <option value="general">General</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="fileInput">Select file:</label>
                    <InputFile id="fileInput" OnChange="HandleFileSelect" multiple accept="image/*" />
                    <ul>
                        @if (selectedFiles.Any())
                        {
                            @foreach (var file in selectedFiles)
                            {
                                <li>@file.Name</li>
                            }
                        }
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" @onclick="UploadFiles">Submit</button>
                </div>
                @if (!string.IsNullOrEmpty(errorMessage))
                {
                    <div class="alert alert-danger">@errorMessage</div>
                }
            </div>
        </div>
    </div>
</div>

<!-- Carousel Modal -->
<div class="modal" style="display:@(isCarouselModalVisible ? "block" : "none"); background-color: rgba(0, 0, 0, 0.5);">
    <div class="modal-dialog modal-dialog-centered" style="min-width: 70vw; min-height:60vh;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" @onclick="CloseBiggerView"></button>
            </div>
            <div class="control-container">
                <SfCarousel @bind-SelectedIndex="@selectedPhotoIndex">
                    @if (isBeforeTabActive)
                    {
                        foreach (var url in beforePhotos)
                        {
                            <CarouselItem>
                                <figure class="img-container">
                                    <img src="@url" alt="Before Photo" style="height:100%;width:100%;" />
                                </figure>
                            </CarouselItem>
                        }
                    }
                    @if (isAfterTabActive)
                    {
                        foreach (var url in afterPhotos)
                        {
                            <CarouselItem>
                                <figure class="img-container">
                                    <img src="@url" alt="After Photo" style="height:100%;width:100%;" />
                                </figure>
                            </CarouselItem>
                        }
                    }
                    @if (isGeneralTabActive)
                    {
                        foreach (var url in generalPhotos)
                        {
                            <CarouselItem>
                                <figure class="img-container">
                                    <img src="@url" alt="General Photo" style="height:100%;width:100%;" />
                                </figure>
                            </CarouselItem>
                        }
                    }
                </SfCarousel>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public int projectId { get; set; }
    PhotosViewModel photosViewModel;
    private List<string> beforePhotos = new List<string>();
    private List<string> afterPhotos = new List<string>();
    private List<string> generalPhotos = new List<string>();
    private List<IBrowserFile> selectedFiles = new List<IBrowserFile>();
    string folder = "photos";
    string category = "before";
    public DataContext dbContext { get; set; } = new DataContext();
    private string errorMessage;
    private bool isBeforeTabActive = true;
    private bool isAfterTabActive = false;
    private bool isGeneralTabActive = false;
    private bool isUploadModalVisible = false;
    private bool isCarouselModalVisible = false;
    private AzureBlobStorage _blobStorage;
    private int selectedPhotoIndex = 0;
    Project project = new Project();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            project = dbContext.Projects.FirstOrDefault(w => w.Id == projectId);
            _blobStorage = new AzureBlobStorage();
            if (project == null)
            {
                throw new Exception($"Project with ID {projectId} not found.");
            }
            photosViewModel = new PhotosViewModel(projectId);
            await LoadPhotos();
        }
        catch (Exception ex)
        {
            HandleException(ex, "An error occurred while initializing");
        }
    }

    private void ActivateBeforeTab()
    {
        isBeforeTabActive = true;
        isAfterTabActive = false;
        isGeneralTabActive = false;
        selectedPhotoIndex = 0; // Reset index on tab change
    }

    private void ActivateAfterTab()
    {
        isBeforeTabActive = false;
        isAfterTabActive = true;
        isGeneralTabActive = false;
        selectedPhotoIndex = 0; // Reset index on tab change
    }

    private void ActivateGeneralTab()
    {
        isBeforeTabActive = false;
        isAfterTabActive = false;
        isGeneralTabActive = true;
        selectedPhotoIndex = 0; // Reset index on tab change
    }

    private async Task LoadPhotos()
    {
        try
        {
            beforePhotos = await _blobStorage.ListBlobsAsync($"{project.Name}/photos/before");
            afterPhotos = await _blobStorage.ListBlobsAsync($"{project.Name}/photos/after");
            generalPhotos = await _blobStorage.ListBlobsAsync($"{project.Name}/photos/general");

            Console.WriteLine($"Loaded {beforePhotos.Count} before photos, {afterPhotos.Count} after photos, {generalPhotos.Count} general photos.");
        }
        catch (Exception ex)
        {
            HandleException(ex, "An error occurred while loading photos");
        }
    }

    public async Task HideUploadModal()
    {
        isUploadModalVisible = false;
    }

    public async Task OpenUploadModal()
    {
        isUploadModalVisible = true;
    }

    private async Task OpenCarouselModal(int photoIndex)
    {
        isCarouselModalVisible = true;
        selectedPhotoIndex = photoIndex;
    }

    private async Task CloseBiggerView()
    {
        isCarouselModalVisible = false;
        selectedPhotoIndex = -1; // Reset index
    }

    private void GoBack()
    {
        try
        {
            Navigation.NavigateTo($"/projectMenu/{projectId}");
        }
        catch (Exception ex)
        {
            HandleException(ex, "An error occurred while navigating");
        }
    }

    private void HandleCategorySelect(Microsoft.AspNetCore.Components.ChangeEventArgs e)
    {
        category = e.Value.ToString();
    }

    private void HandleFileSelect(InputFileChangeEventArgs e)
    {
        try
        {
            selectedFiles = e.GetMultipleFiles().ToList();
        }
        catch (Exception ex)
        {
            errorMessage = $"An error occurred while selecting files: {ex.Message}";
            Console.WriteLine($"File Selection Error: {ex}");
        }
    }

    private async Task UploadFiles()
    {
        errorMessage = string.Empty;
        try
        {
            foreach (var selectedFile in selectedFiles)
            {
                if (selectedFile != null)
                {
                    await _blobStorage.UploadPhoto(project.Name, category, selectedFile);

                    await LoadPhotos();
                    await HideUploadModal();
                    NotificationService.CreateNotification(selectedFile.Name, project.Name, NotificationType.PhotoAdded, null);
                }
            }
        }
        catch (Exception ex)
        {
            HandleException(ex, "An error occurred during photo upload");
        }
    }

    private async Task DeletePhoto(string url)
    {
        var confirmed = await JS.InvokeAsync<bool>("confirm", $"Are you sure you want to delete this photo?");
        if (!confirmed) return;
        try
        {
            var category = url.Contains("before") ? "before" :
                           url.Contains("after") ? "after" :
                           url.Contains("general") ? "general" : null;

            if (category != null)
            {
                var fileName = url.Split('/').Last();
                await _blobStorage.DeletePhotoAsync(project.Name, category, fileName);

                await LoadPhotos();
            }
        }
        catch (Exception ex)
        {
            HandleException(ex, "An error occurred during photo deletion");
        }
    }

    private void HandleException(Exception ex, string errorMessagePrefix)
    {
        errorMessage = $"{errorMessagePrefix}: {ex.Message}";
        Console.WriteLine($"{errorMessagePrefix}: {ex}");
    }

    private void ReloadPage()
    {
        var uri = Navigation.ToAbsoluteUri($"/projectPhotos/{projectId}");
        Navigation.NavigateTo(uri.ToString(), true);
    }

    private async void OnPhotoClicked(string url)
    {
        if (isBeforeTabActive)
        {
            selectedPhotoIndex = beforePhotos.IndexOf(url);
        }
        else if (isAfterTabActive)
        {
            selectedPhotoIndex = afterPhotos.IndexOf(url);
        }
        else if (isGeneralTabActive)
        {
            selectedPhotoIndex = generalPhotos.IndexOf(url);
        }
        await OpenCarouselModal(selectedPhotoIndex);
    }

    private void NextPhoto()
    {
        if (selectedPhotoIndex < (beforePhotos?.Count ?? 0) - 1)
        {
            selectedPhotoIndex++;
        }
        else
        {
            selectedPhotoIndex = 0;
        }
    }

    private void PreviousPhoto()
    {
        if (selectedPhotoIndex > 0)
        {
            selectedPhotoIndex--;
        }
        else
        {
            selectedPhotoIndex = beforePhotos.Count - 1;
        }
    }
}

<style>
    .header {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
    }

    .back-button, .add-button {
        border: none;
        background: none;
    }

    .control-container {
        background-color: transparent;
        height: 500px;
        margin: 0 auto;
        width: 800px;
        border: none;
    }

    .tab-content img {
        cursor: pointer;
    }

    .e-carousel .e-carousel-items .e-carousel-item .img-container {
        height: 100%;
    }

    .e-carousel .e-carousel-items .e-carousel-item .img-caption {
        bottom: 4em;
        color: #fff;
        font-size: 12pt;
        height: 2em;
        position: relative;
        text-align: center;
        width: 100%;
    }

    .modal-content {
        background-color: transparent;
        border: none;
        color: white;
    }

    .modal-header {
        border: none;
    }

    .modal-footer {
        border: none;
    }

    .modal-header .btn-close {
        filter: invert(100%);
    }
</style>

<script>
    window.showModal = () => {
        const modal = document.querySelector('.modal');
        if (modal) {
            modal.style.display = 'block';
        }
    };

    window.hideModal = () => {
        const modal = document.querySelector('.modal');
        if (modal) {
            modal.style.display = 'none';
        }
    };
</script>

